*{
font-family: 'Roboto Mono', monospace;
}
/*================ section1====================== */
#head{
    /* background-image: url(images/leaf.jpg);
    height: 100vh;
    background-size: cover; */
}
#head .header{
    padding: 20px 0 20px 0;    
}
#head .header ul{
    padding: 0;
  display: flex;
  justify-content: space-evenly;
}
#head .header ul li{
    color: rgb(3, 3, 3);
    list-style: none;
    font-size: 20px;
}
#head .header ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.headsection2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    /* padding: 30px 0; */
}
.headsection2 img{
   width: 90%;
    border-radius: 25%;
    box-shadow: 0 0 30px gray;
    /* background-color: gray; */
}
.headsection2 .image{
    width: 30%;
    display: flex;
    justify-content: center;
}
.headsection2 h2,.headsection2 h5{
    color: rgb(0, 0, 0);
    margin: 2rem 0 0 0;
    text-align: center;
}

/* about */
.title{
    padding: 3rem 0;
    text-align: center;    
}
.aboutcontent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aboutcontent1{
    width: 58%;
}
.aboutcontent img{
    /* width: 30%; */
    /* height: 300px; */
    border-radius: 69%;
    /* background-color: gray; */
}
/* skills */
.skillsimg{
  display: flex;
  justify-content: center;
}
.skillsimg img{
  width: 35%;
}
.skillviz{
display: flex;
align-items: center;
justify-content: space-evenly;
}
.skillscat{
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;

}
.skilllegend ul li,.skillscat ul li{
  list-style: none;
}
.skilllegend ul li p,.skillscat ul li p{
  display: inline;
  
}
.skillscat .tech{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.skillscat .tech img{
  width: 25px;
  height: 25px;  
}
/* projects */
#projects .projectscontent .container{
  display: flex;
    flex-direction: column;
    row-gap: 30px;
}
#projects .projectscontent .container .row img{
  width: 100%;
  border-radius: 15%;
  box-shadow: 0 0 30px gray;
}

/* contact */
.containerform{
  width: 60%;
  margin: 0 auto;
}
/* footer */
#footer{
  margin: 50px 0;
}
#footer .container{
  display: flex;
  justify-content: space-between;
}
#footer .media,.bars{
  width: 30%;
}
#footer .media ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 23px;
  padding: 0;
  margin: auto 0;
}.bars ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 20px;
  padding: 0;
  margin: auto 0;
}
#footer .media ul a,.bars ul a{
  text-decoration: none;
  color: black;
}
#footer .copy p{
  text-align: center;
  margin: 5px 0;
}
#footer .line{
  border: 2px solid;
  margin: 0;
}



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  /* .headsection2{
    margin-top: 25%;
  }
  .headsection2 .image{
    width: 60%;
} */
#footer .container{
  flex-direction: column;
  row-gap: 2rem;
}
#footer .media,.bars{
  width: 100%;
}


  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  /* .headsection2{
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 0;
  } */
  .aboutcontent img{
    width: 50%;
  }
  .aboutcontent{   
    justify-content: center;
  }
  .aboutcontent1{
    width: 100%;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  /* home */
  #head .header ul li{
    font-size: 20px;
  }
  #head .header{
    padding: 20px 0;
  }
  .headsection2{
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 0;
  }
  /* about */
  .aboutcontent img{
    width: 50%;
  }
  .aboutcontent{   
    justify-content: center;
  }
  .aboutcontent1{
    width: 100%;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  #head .header ul li a{
      font-size: 15px;
  }
  #head .headsection2{
    margin: 100px 0;
    padding: 0;
  }
  #head .header{
    padding: 30px 0 0 0 ;
}
  .headsection2 .image{
      width: 100%;
      padding: 10px;
  }
  .title{
      padding: 2rem 0;
  }
  /* about */
  .aboutcontent{
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      padding: 10px;
  }
  .aboutcontent1{
      width: 100%;
  }
  .aboutcontent img{
      width: 75%;
      height: 300px;
  }
  /* skills */
  .skillviz img{
    width: 55%;
  }
  .skillviz{
    flex-direction: column;
    row-gap: 20px;

    
  }
  #skills .container .skillsimg .skillscat{
    display: flex;
  }
  .skillscat,.skillviz ul li {
    font-size: 12px;
  }
  /* projects */
#projects .projectscontent   img{
 width: 100% ;
}
.project{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.project-img{
  padding: 5px;
  order: 1;
}
 .project-text{
  padding: 5px;
  order: 2;
}

  /* footer */
  #footer .container{
    flex-direction: column;
    row-gap: 30px;
  }
  #footer .media ul,.bars ul{
    justify-content: space-evenly;
    font-size: 15px;
  }
  #footer .container .bars,
  #footer .container .media{
    width: 100%;
  }

  
}


